@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 12%, 44%);
}

.card {
  background-color: hsl(227, 47%, 96%);
  text-align: center;
}

.card-one {
  border-top: 5px solid hsl(208, 92%, 53%);
}

.card h3 {
  color: hsl(230, 17%, 14%);
}

.card-text {
  letter-spacing: .35rem;
}
