@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-bg-color: hsl(227, 47%, 96%);
  --dark-text-color: hsl(230, 17%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 12%, 44%);
}

header {
  background-color: hsl(0, 0%, 100%);
}

nav h1 {
  color: var(--dark-text-color);
}

hr {
  border-top-width: 1px;
  border-color: var(--dark-text-color);
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: hsl(230, 22%, 74%);
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.slider:before {
  background-color: hsl(0, 0%, 100%);
  bottom: 4px;
  content: "";
  height: 22px;
  left: 6px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
  background-color: var(--card-bg-color);
  text-align: center;
}

.card-facebook::after {
  content: '';
  background: hsl(208, 92%, 53%);
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
}

.card-twitter::after {
  content: '';
  background: hsl(203, 89%, 53%);
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
}

.card-instagram::after {
  content: '';
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
}

.card-youtube::after {
  content: '';
  background: hsl(348, 97%, 39%);
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
}

.card h3 {
  color: var(--dark-text-color);
}

.card-text {
  letter-spacing: .35rem;
}

.stat {
  background-color: var(--card-bg-color);
}

.stat h3 {
  color: var(--dark-text-color);
}

@media screen and (min-width: 1280px) {
  nav,
  main {
    max-width: 1200px;
  }
}
